{% extends 'base.html' %}
{% block content %}


<table class="table" id="record">
  <thead class="thead-dark">
<!-- On rows -->
	<tr class="">
		<th scope="col">Rec #</th>
      	<th scope="col">First Name</th>
      	<th scope="col">Last Name</th>
      	<th scope="col">Birthday</th>
      	<th scope="col">Marital Status</th>
      	<th scope="col">Sex</th>
      	
      	<th scope="col">Number of Children</th>
      	<th scope="col">Actions</th>
	</tr>
</thead>
{% for obj in profile %}
<tbody id="myTable">
	<tr class="table-success">
		<th scope="row">{{obj.id}}</th>
		<td class="filter-cell">{{obj.first_name|upper}}</td>
	    <td class="filter-cell">{{obj.last_name|upper}}</td>
	    <td class="filter-cell">{{obj.date_of_birth}}</td>
	    <td class="filter-cell">{{obj.marital_status.description|upper}}</td>
	    <td class="filter-cell">{{obj.gender.description|upper}}</td>
	    
	    <td class="filter-cell">{{obj.number_of_children}}</td>
	    <td>
	    	<a href="/edit/{{obj.id}}"><i class="fa fa-edit"></i></a>
	    	<a href="/entry/{{obj.id}}"><i class="fa fa-eye"></i></a>
    		<a href="/delete/{{obj.id}}"><i class="fa fa-trash"></i></a>
	    </td>
	</tr>
</tbody>
{% endfor %}
<thead class="thead-dark">
<!-- On rows -->
	<tr class="">
		<th scope="col">Rec #</th>
      	<th scope="col">First Name</th>
      	<th scope="col">Last Name</th>
      	<th scope="col">Birthday</th>
      	<th scope="col">Marital Status</th>
      	<th scope="col">Sex</th>
      	
      	<th scope="col">Number of Children</th>
      	<th scope="col">Actions</th>
	</tr>
</thead>
</table>

{% if messages %}
<ul class="messages" id="success-message">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}




<div class="container">
	<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item">
    	{% if profile.has_previous %}
      		<a class="page-link" href="?page={{ queryset.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
  		{% endif %}
    </li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">{{profile.number}} <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item">
    	{% if profile.has_next %}
      <a class="page-link" href="?page={{ profile.next_page_number }}">Next</a>
      {% endif %}
    </li>
  </ul>
</nav>
</div>

<script type="text/javascript">
	$('document').ready(function() {
		$('#success-message').delay(2000).fadeOut();
	});
</script>


{% endblock %}







